@mixin header-title-class {
  .header-title {
    text-align: center;
    padding: 18px 0;
    background-color: #f7f7f7;
    color: #333;
    font-size: 17px;
    font-weight: bold;
    display: none;
  }
}
