html,
body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

#app {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Segoe UI', Tahoma, Geneva, Verdana, 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;

   min-width: 360px;
  min-height: 768px;
}

.swiper-slide-card {
  margin: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #dedede;
  background-color: #fff;
}

div {
  box-sizing: border-box;
}

p {
  margin: 0;
  text-align: left;
}

.center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.o-hidden {
  overflow: hidden;
}

.pd10 {
  padding: 10px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.mr0 {
  margin-right: 0px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30{
  margin-bottom: 30px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cursor {
  cursor: pointer;
}

.margin-auto {
  margin: 0 auto;
}
