.van-cell.van-field.contact-field {
  background: #fafafa;
  border: 1px solid #cbcbcb;
}

.van-cell.van-field.contact-field .van-field__control,
.van-cell.van-field.contact-field .van-field__control::-webkit-input-placeholder {
  font-size: 18px;
}

.van-popup.van-popup--center.van-dialog.menu-dialog {
  right: auto;
  border-radius: 0;
  top: 0;
  bottom: 0;
  transform: inherit;
}

.van-swipe.banner-swipe .van-swipe-item {
  color: #404040;
}

.van-swipe.banner-swipe .van-swipe__indicator--active {
  background-color: #404040;
}

.van-swipe.banner-swipe .van-swipe__indicator:hover {
  background-color: #404040;
}
